html {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Chivo';
    background-color: #028090;
    color: #e3dfff;
    border-radius: 15px;
    margin: 15px;
    width: 50%;
    height: 50%;
}

#patternDisplay {
    width: 32%;
    height: 100%;
    float: left;
    background-repeat: repeat;
    border-radius: 15px 0 0 15px;
}

#patternDisplay div {
    margin-left: 1.414em;
}

#bodySection {
    height: 100%;
    float: right;
    width: calc(68% - (2.828em * 2));
    position: relative;
    margin-right: 2.828em;
    overflow: auto;
}

#bodySection::-webkit-scrollbar {
    margin-left: 1px
}

p {margin-bottom: 1.3em; font-size: 1.2em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Work Sans';
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}

.flex {
    display: flex;
}

/* unvisited link */
a:link {
    color: #222222;
}

/* visited link */
a:visited {
    color: #222222;
}

/* mouse over link */
a:hover {
    color: #222222;
}

/* selected link */
a:active {
    color: #e3dfff;
}

/* responsive! */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

        html {
            flex-direction: column;
        }

        body {
            width: 100%;
            height: 95%;
        }

        #patternDisplay {
            width: 100%;
            height: 20%;
            float: left;
            background-repeat: repeat;
            border-radius: 15px 15px 0 0;
        }

        #bodySection {
            height: 80%;
            float: bottom right;
            width: calc(100% - 16px);
            position: relative;
            margin-right: initial;
            margin-left: 16px;
            overflow: auto;
        }

      p {margin-bottom: 1.3em; font-size: 1.5em;}

      .font-display {
          flex-direction: column
      }

      .colorbar {
          width: calc(100% - 4em)
      }

      .work-sans-display {
          margin-left: 0 !important
      }

      .chivo-display {
          margin-bottom: 4em
      }

      .font-display-unit {
          width: calc(100% - 4em)
      }
}

#submit {
    cursor: pointer; font-weight: 700; font-family: 'Chivo'; font-size:16px; padding:16px; border-width:6px; border-radius:16px; border-style:solid; border-color:#096672; background-color:#e3dfff; color:#222222;
}